<form method="post" enctype="application/x-www-form-urlencoded">
    <div>
        <label for="Username">Username</label>
        <input type="text" id="Username" name="username" placeholder="Username">
    </div>
    <div>
        <label for="Password">Password</label>
        <input type="password" id="Password" name="password" placeholder="Password">
    </div>
    <div>
        <label for="TC handle">TC handle</label>
        <input type="text" id="TC handle" name="handle" placeholder="TC handle">
    </div>
    <button type="submit">Register</button>
</form>
